.page {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
}
.page header {
    background-image: url(../img/breadcrumb/breadcrumb.jpg);
    grid-column: 1/-1;
    background-size: cover;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 2rem;
    color: var(--color-secondary);
}
.page .heading-main {
    margin-top: 7rem;
}
.page .body {
    grid-column: 2/10;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    transition: all .5s;
}
.fig {
    box-shadow: 1px 1px 2px black;
    position: relative;
}
.fig img {
    width: 100%;
}
.fig a {
    opacity: 0;
    transition: all .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    background-color: black;
    border-radius: 10rem;
}
.fig:hover a {
    opacity: 1;
}

.static {
    margin: 5rem 0;
}
.static h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: var(--color-secondary);
}


@media only screen and (max-width: 700px) {
    .page {
        display: block;
    }
    .page .heading-main {
        margin: 0;
        padding-top: 7rem;
    }
    .gallery {
        display: block;
    }
    .static {
       padding: 2rem;
    }
}