.contact .map {
    grid-column: 1/7;
    padding-right: 5rem;
}


.contact .info {
    grid-column: 7/10;
    margin: 5rem 0;
}

.contact .info .headin {
    font-size: 2rem;
}
.info .headin span {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-secondary);
}
.info p {
    color: var(--color-secondary);
    font-weight: 400;
    margin: 2rem 0;
}

.contact form {
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: var(--color-secondary);
}
.contact input {
    height: 2rem;
    padding: .5rem;
    margin-top: .5rem;
    outline: none;
    font-size: 1.4rem;
    transition: all .3s;
}
.contact input:focus, textarea:focus {
    border: 1px solid black;
}
textarea {
    height: 20rem;
    font-size: 1.4rem;
    outline: none;
    padding: .5rem;
    transition: all .3s;
}
.send {
    padding: 1rem 3rem;
    background-color: var(--color-secondary);
    color: var(--white);
    align-self: flex-end;
    transition: all .3s;
    cursor: pointer;
}
.send:hover {
    background-color: black;
    transform: scale(1.05);
}
.pop {
    background-color: rgba(0, 0, 0, 0.521);
    color: green;
    padding: 1rem 4rem;
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    font-size: 4rem;
    font-family: monospace;
    font-style: italic;
    font-weight: 700;
    position: fixed;
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transition: all .5s;
}
.popup {
    opacity: 1;
    transform: translate(-50%, 0);
}
.fail {
    color: black;
    background-color: rgba(255, 0, 0, 0.795);
}
@media only screen and (max-width: 700px) {
    .contact .info {
        padding: 2rem;
    }
    .contact .map {
        width: 100vw;
    }
    
}