.page {
    overflow-x: hidden;
}
.offers {
    grid-column: 2/10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.offers .my-pic {
    margin-right: 4rem;
    width: 50%;
}
.offers .my-pic img {
    width: 100%;
    height: 100%;
    filter: brightness(90%);
}
.offers .detail {
    display: block;
    width: 50%;
}
.detail .head {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--color-secondary);
}
.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}
.items .item .number {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--color-primary);
}
.items .item p {
    padding: 0;
}
.items .item .title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--color-secondary);
}
.footer {
    grid-row: 8/9;
}
@media only screen and (max-width: 700px) {
    .offers {
        display: block;
        padding: 2rem;
        align-items: center;
        text-align: center;
    }
    .offers .my-pic {
        margin: auto;
        margin-bottom: 3rem;
        width: 100%;
    }
    .offers .detail {
        width: 100%;
    }
}