.home {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
   
}
.page .more {
    font-size: 1.3rem;
    grid-column: 2/10;
    color: var(--color-secondary);
    justify-self: center;
    padding: 1rem 2rem;
    border: 1px solid currentColor;
    transition: all .5s;
}
.more:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
    color: #fff;
}
.con-link {
    font-size: 1.3rem;
    grid-column: 2/10;
    color: var(--color-secondary);
    padding: 1rem 2rem;
    border-bottom: 1px solid currentColor;
    transition: all .5s;
    justify-self: flex-start;
    margin-top: -10rem;
    align-self: flex-start;
    grid-column: 2/10;
}
.con-link:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
    color: #fff;
}

@media only screen and (max-width: 700px) {
    .home, .page {
        display: block;
    }
    .page .more {
        margin-left: 2rem;
        background-color: transparent;
    }
    .con-link {
        justify-self: center;
        align-self: center;
        transform: translateX(100%);
        background-color: transparent;
    }
}
