
.services .img {
    grid-column: 3/9;
    height: auto;
    width: 100%;
    margin: 5rem auto;
    overflow: hidden;
}

.features {
    margin: 5rem 0;
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    grid-row: 4/5;
}
.ex {
    font-size: 2rem;
    width: 35rem;
    margin-right: 2rem;
}
.ex span {
    color: var(--color-secondary);
    font-weight: 700;
}
.ex p {
    margin: 1rem 0;
}

.feas {
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    grid-gap: 2rem;
}
.feas .fa {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(109, 107, 107);
}
.services .plan {
    background-color: var(--color-primary);
    grid-row: 5/6;
    grid-column: 1/-1;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
}
.plan .cards {
    grid-column: 2/10;
    display: flex;
    justify-content: space-between;
}
.cards .card {
    background-color: rgb(231, 231, 231);
    padding: 2rem 5rem;
    text-align: center;
}
.cards .card .type {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1rem;
    color: var(--color-secondary);
}
.cards .card .fa {
    font-size: 4rem;
    color: rgb(185, 181, 181);
    padding: 1rem 1.5rem;
    border: 1px solid currentColor;
    border-radius: 50%;
}
.cards .card .price {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
    color: var(--color-secondary);
}
.card ul {
    list-style: none;
    padding-bottom: 2rem;
}
.card ul li {
    padding: .5rem 0;
    font-size: 1.3rem;
    font-weight: 100;
}
.plan .cards button {
    padding: .5rem 2rem;
    border-radius: 10rem;
    border: none;
    font-weight: 500;
    transition: all .3s;
}
.card button:hover {
    background-color: var(--color-secondary);
    color: aliceblue;
}

.services .cc {
    grid-column: 1/-1;
    margin-top: 0;
    grid-row: 6/7;
}
.services .cc .client {
    margin-top: 0;
}
.page .brand {
    grid-row: 7/8;
    display: flex;
    grid-column: 2/10;
    padding: 7rem 0;
}
.brand .b img {
    width: 100%;
    height: 100%;
}
.services .footer {
    grid-row: 8/9;
}
@media only screen and (max-width: 700px) {
    .services .img {
        height: auto;
        width: 60%;
        margin: 5rem auto;
        overflow: hidden;
    }
    .page .brand {
        padding: 2rem 0;
    }
    .services .plan {
        display: block;
    }
    .plan .cards {
        display: block;
        padding: 2rem;
    }
    .card {
        margin-bottom: 2rem;
    }
    .features {
        display: block;
        padding: 2rem;
    }
    .feas {
        grid-template-columns: repeat(2, 15rem);
        grid-gap: 1rem;
    }
}
