.header {
    background-color: var(--color-primary);
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
}
.content {
    grid-column: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.text h2 {
    font-weight: 200;
    font-size: 2.7rem;
    margin: 0;
    color: var(--color-secondary);
}

@keyframes left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: none;
    }
}

.bottom .text {
    animation: left 1.5s ease-in;
}
@keyframes right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: none;
    }
}
.bottom .img {
    animation: right 1.5s ease-in;
}
.text h1 {
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
    color: var(--color-secondary);
}
.img {
    width: 40%;
    align-self: flex-end;
    height: 100%;
}
.img img {
    width: 100%;
    height: 100%;
}
.bottom button {
    margin-top: 2rem;
}
.socials {
    grid-column: 10/-1;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 5rem;
}
.socials .fa {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-right: 1rem;
}
.fa:hover {
    color: black;
    cursor: pointer;
}
.ani {
    transition: all 1s;
}
@media only screen and (max-width: 700px) {
    .header {
        padding-top: 2rem;
        display: block;
        text-align: center;
    }
    .header .bottom{
        display: block;
    }
    .bottom .text {
        margin-bottom: 2rem;
    }
    .bottom .img {
        margin: auto;
        height: 40rem;
        width: 25rem;
    }
    .socials {
        display: none;
    }
    .text h1 {
        font-weight: 700;
        font-size: 4rem;
        margin: 2rem 0;
    }
}