.bcards {
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 25rem));
    justify-content: center;
    grid-gap: 2rem;
    padding: 10rem 0;
}
.bimg img {
    width: 100%;
}
.card {
    box-shadow: 2px 2px 1rem rgb(199, 198, 198);
}
.text {
    padding: 1rem;
}
.card-detail {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid var(--color-primary);
}
.card-detail p {
    margin-right: 2rem;
    font-size: 1.2rem;
}
.card h3 {
    text-transform: uppercase;
    margin: 1rem 0;
}
