:root {
  --color-primary: rgb(241, 239, 239);
  --color-secondary: rgb(12, 12, 12);
  --text-color: rgb(87, 85, 85);
  --white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.25%;
  color: var(--text-color);
  font-family: sans-serif;
}
body {
  height: 100vh;
  overflow-y: scroll;
}

p {
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: 100;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}

.topp {
  background-color: var(--color-primary);
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(8rem, 10rem)) minmax(2rem, 1fr);
}
.top {
  grid-column: 2/10;
}
.logo {
  cursor: pointer;
}


/* ANIMATINT PAGE ON CLICK */

@keyframes page {
  0% {
      opacity: 0;
      transform: translateY(-70%);
  }
  100% {
      opacity: 1;
      transform: none;
  }
}
.page {
  animation: page 1s;
}
button {
  outline: none;
  border: 1px 1px black;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  html {
    font-size: 52.25%;
  }
  .topp {
    grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(1rem, 10rem)) minmax(2rem, 1fr);
  }
}
